#constant
const/index.ts

#interface
interface/h5Side.ts
interface/rnSide.ts

#Dependency directories
node_modules/

#src
src/h5Side.ts
src/rnSide.ts

#utils
utils/index.ts

#root
index.ts
rollup.config.js
tsconfig.json

.idea/